.Resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1.5rem;
    margin-left: 2rem;

    /* TEMP */
    /* border: 1px solid #ccc;
    padding: 1rem 1.5rem; */

    .resume-content {
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        display: flex;
        flex-direction: column;

        width: 60%;
    }

    .title {
        cursor: pointer;
    }

    .contact {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
    }

    .contact-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .contact-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-darker);
        width: 3rem;
        height: 3rem;
        border: var(--portfolio-border);
        border-radius: 100%;
        transition: 0.2s;
    }

}

@media (max-width: 768px) {
    .Resume {
        .resume-content {
            width: 75%;
        }
        margin-left: 1.5rem;

        .contact-icons {
            flex-direction: column;
        }
    
        h2 {
            text-align: center;
        }
    }

}