.Resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1.5rem;
    margin-left: 2rem;

    .resume-content {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .title {
        cursor: pointer;
    }

    .footer {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        pointer-events: none;

        .contact, .color-mode {
            pointer-events: all;
        }

        .contact {
            position: relative;
            bottom: 1rem;
            left: 0.5rem;
        }
    
        .contact-icons {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    
        .contact-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-darker);
            width: 3rem;
            height: 3rem;
            border: var(--portfolio-border);
            border-radius: 100%;
            transition: background-color 0.2s;
        }

        .color-mode {
            cursor: pointer;
            position: relative;
            bottom: 1rem;
            right: 1rem;
            display: flex;
            align-items: center;
            padding: 0.4rem 0.5rem;
            font-weight: 900;
            gap: 1rem;
            border: var(--portfolio-border);
            background-color: light-dark(var(--color-lighter), var(--color-darkest));
            transition: 0.2s;
        }

        .color-mode img {
            height: 1.1rem;
        }

        .day, .night {
            width: 2rem;
            height: 1.25rem;
        }

        .color-mode-selector {
            position: absolute;
            width: 1.8rem;
            height: 1.5rem;
            z-index: 2;
            border-radius: 1px;
            transition: 0.2s;
            background-color: light-dark(var(--color-darker), var(--color-lighter));
        }

        .day, .night {
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.8rem;
        }
    }


}

@media (max-width: 768px) {
    .Resume {
        .resume-content {
            width: 75%;
        }
        margin-left: 1.5rem;

        .contact-icons {
            flex-direction: column;
        }
    
        h2 {
            text-align: center;
        }
    }

}