.TerminalInput {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    font-family: monospace;
    font-size: 1rem;

    input {
        all: unset;

        padding: 0.5rem 1rem;
        border-radius: 3px;
        border: var(--portfolio-border);
        border-color: var(--color-gray);
        background-color: light-dark(var(--color-lightest), var(--color-darkest));
        transition: 0.2s;
        
        &:focus {
            border-color: light-dark(var(--color-darker), var(--color-lighter));
        }
    }

    .response-container {
        width: 99%;
        max-height: 100vh;

        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }

        .response-box {
            border: var(--portfolio-border);
            border-color: var(--color-lighter);
            background-color: light-dark(var(--color-lightest), var(--color-darkest));
            border-radius: 3px;
    
            transition: 0.2s;
    
            .inner-box-content {
                padding: 0.5rem 1rem;
            }
        }
        
    }

}