.PortfolioAppList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex: 1;
    height: 100%;
    margin: 1.5rem;
}

.labels-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.LeftLables, .RightLables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    /* flex: 1; */
    overflow-y: scroll;
    pointer-events: auto;
}

.LeftLables {
    align-items: flex-start;
}

.RightLables {
    align-items: flex-end;
}

.RightLables h3 { text-align: right; }

.PortfolioLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--portfolio-border-radius);
    transition: all 0.2s ease;
}

.PortfolioLabel h3 {
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: lighter;
}

.AppList {
    position: absolute;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    top: 0;
    margin: 1rem auto 0;
    width: 100%;
    max-height: 100%;
    z-index: 1;
}
/* 
.AppList::-webkit-scrollbar {
    display: none;
} */

.PortfolioApps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-gap: 4rem;
    width: 60%;
}

.PortfolioAppWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

@media (max-width: 1023px) {
    .labels-container h3 { max-width: 128px; }
}

/* Mobile Styles */
@media (max-width: 768px) {

    .PortfolioAppList {
        margin: 1rem 2rem;
        gap: 1.5rem;
    }

    .labels-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 0.5rem;
        gap: 0.5rem;
        max-width: 380px;
        margin: auto;
    }

    .LeftLables, .RightLables {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        gap: 0.5rem;
    }

    .PortfolioLabel {
        border: var(--portfolio-border);
        padding: 0.4rem 1rem;
    }

    .PortfolioLabel h3 {
        font-size: 1.2rem;
    }

    .AppList {
        position: initial;
        flex-direction: column;
        /* align-items: center; */
        max-width: 100%;
        gap: 1.5rem;
    }

    .PortfolioApps {
        justify-content: space-evenly;
        width: 100%;
    }

}

@media (max-width: 426px) {

    .labels-container {
        justify-content: center;
    }
}
