.PortfolioApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 6rem;
    cursor: pointer;
    transition: 0.2s;
}

.PortfolioApp.active {
    .appImg {
        border: 2px solid light-dark(var(--color-darkest), var(--color-lightest));
    }

    h4 {
        color: light-dark(var(--color-darkest), var(--color-lightest));
    }
}
.PortfolioApp.inactive {
    .appImg {
        border: 2px solid light-dark(var(--color-light-gray), var(--color-dark-gray));
    }

    h4 {
        color: light-dark(var(--color-light-gray), var(--color-dark-gray));
    }
}

/* 
color: light-dark(var(--color-darkest), var(--color-lightest));

color: light-dark(var(--color-light-gray), var(--color-dark-gray)); */


.appImg {
    width: 6rem;
    height: 6rem;
    border: 2px solid var(--color-gray);
    transition: 0.2s;
}

h4 {
    text-align: center;
    margin: 0;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s;
}