.PortfolioApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    transition: 0.2s;
    max-width: 6rem;
    cursor: pointer;
}

.appImg {
    width: 6rem;
    height: 6rem;
    border: 2px solid var(--color-gray);
}

h4 {
    text-align: center;
    margin: 0;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    overflow: hidden;
    text-overflow: ellipsis;
}