.PortfolioFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    margin: 1rem 2rem;
    
    p { 
        margin: 0; 
    }
    
    h3 {
        font-weight: 900;
    }
    
    h4 {
        font-size: 1.2rem;
    }
    
    .left, .right, .logic, .color-mode {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .center {
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        padding: 0.5rem 1rem;
        color: var(--ld-inactive);
        background: light-dark(var(--color-lighter), var(--color-darkest));
        z-index: 99;
        cursor: pointer;
    }
    
    .contact-info {
        padding: 0.4rem 0.8rem;
        background: light-dark(var(--color-lighter), var(--color-darkest));
        border: var(--portfolio-border);
        border-color: light-dark(var(--color-gray), var(--color-gray));
        border-radius: var(--portfolio-border-radius);
        z-index: 99;
    
        :hover {
            color: light-dark(var(--color-darkest), var(--color-lightest));
        }
    }
    
    .contact-icons {
        display: none;
    }
    
    a {
        color: light-dark(var(--color-gray), var(--color-gray));
        text-decoration: none;
        transition: 0.2s;
    }
    
    .this {
        display: none;
        font-weight: bold;
    }
    
    .logic, .color-mode {
        display: flex;
        cursor: pointer;
    }
    
    .and-or, .not, .color-mode {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.4rem 0.5rem;
        font-weight: 900;
        gap: 1rem;
        border: var(--portfolio-border);
        background-color: light-dark(var(--color-lighter), var(--color-darkest));
    }
    
    .and, .or, .day, .night {
        width: 2rem;
        height: 1.25rem;
    }
    
    .not {
        width: 2.5rem;
        justify-content: center;
        cursor: pointer;
    }
    
    .and-or-selector, .not-selector, .color-mode-selector {
        position: absolute;
        width: 2.5rem;
        height: 1.3rem;
        z-index: 2;
        border: var(--portfolio-border);
        border-radius: 1px;
        transition: 0.2s;
        background-color: light-dark(var(--color-darker), var(--color-lighter));
    }
    
    .not-selector {
        width: 2.9rem;
    }
    
    .logic-selected {
        color: light-dark(var(--color-lighter), var(--color-darker));
        z-index: 3;
    }
    
    .day, .night {
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.8rem;
    }
    
    .color-mode {
        padding: 0.4rem 0.3rem;
    }
    
    .color-mode img {
        height: 1.1rem;
    }
    
    .color-mode-selector {
        width: 1.8rem;
    }
    
    @media (max-width: 1023px) {
        .left, .right {
            flex-direction: column;
            gap: 0.5rem;
        }
    
        .left {
            align-items: flex-start;
        }
    
        .right {
            align-items: flex-end;
            gap: 0.75rem;
        }
    
        .this-text {
            cursor: pointer;
            color: light-dark(var(--color-gray), var(--color-gray));
            transition: 0.2s;
        }
        .active {
            color: light-dark(var(--color-darkest), var(--color-lightest));
        }
    
        .center {
            bottom: 1.5rem;
            transform: translate(-50%, -25%);
        }
    
        .HDIMT:hover {
            color: light-dark(var(--color-darkest), var(--color-lightest));
        }
    
        .logic {
            flex-direction: column-reverse;
            align-items: flex-end;
            gap: 0.75rem;
        }
    
        .left h3 {
            margin: 0;
            font-size: 1.5rem;
        }
    }
    
    /* Mobile Styles */
    @media (max-width: 768px) {
        .PortfolioFooter {
            margin: 1rem 2rem;
            gap: 2rem;
        }
    
        .left {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }
    
        .left h3 {
            margin: 0;
            font-size: 1.5rem;
        }
    
        .contact-info {
            display: none;
            transition: 0.2s;
        }
    
        .contact-icons {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    
        .contact-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-darker);
            width: 3rem;
            height: 3rem;
            border: var(--portfolio-border);
            border-radius: 100%;
            transition: 0.2s;
        }
    
        .this {
            display: flex;
        }
    
        .center {
            display: none;
        }
    
        .right {
            width: 100%;
            justify-content: flex-end;
            gap: 0.75rem;
        }
    
        .logic {
            gap: 0.75rem;
        }
    }
    
    @media (max-width: 426px) {
        .contact-icons {
            gap: 0.5rem;
        }
    }
}
