.AppComp {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: light-dark(var(--color-darkest), var(--color-lightest));
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  line-height: 58px;
}

h1 {
  margin: 0.5rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  margin: 0.3rem;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 100;
  color: light-dark(var(--color-dark), var(--color-lightest-gray));
}

.footer {
  position: sticky;
  width: 100%;
}

@media (max-width: 1023px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .AppComp {
    justify-content: flex-start;
    height: auto;
    min-height: 100vh;
  }

  .header {
    margin-top: 1.5rem;
    line-height: normal;
  }

  .footer {
    position: sticky;
  }

  h1 {
    margin: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }

  h3 {
    margin: 0.2rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
  }
}
